body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; /* Light mode background color */
    color: #333; /* Light mode text color */
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  .rounded-section {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #3498db; /* Blue color */
    color: #fff; /* Text color */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .mode-toggle:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode .rounded-section {
    background-color: #444;
    color: #fff;
  }
    body:not(.dark-mode) a {
    color: #000; /* Black color for links in light mode */
  }

  .dark-mode a {
    color: #fff; /* White color for links in dark mode */
  }